@model IEnumerable<Biblioteca.Dominio.Debito>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/biblioteca.js")"></script>
}

<h2>Débitos ativos</h2>

@using (Html.BeginForm("LocalizarDebitosUsuario", "Debitos", FormMethod.Post))
{
    @Html.TextBox("usuario", null, new { PlaceHolder = "localizar...", id = "NomeUsuario" })
    <button type="submit" value="Localizar">
        Localizar</button>
}

<table>
    <thead>
        <tr>
            <th>
                Pessoa
            </th>
            <th>
                Livro
            </th>
            <th>
                Data Débito
            </th>
            <th>
                Valor Débito
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var debito in Model)
        {
            <tr>
                <td>
                    @debito.UsuarioDeb.Nome
                </td>
                <td>
                    @debito.Emprestimo.LivroEmprestimo.Titulo
                </td>
                <td>
                    @debito.Emprestimo.DevolvidoEm
                </td>
                <td>
                    @((debito.DiasAtraso * 2.00).ToString("C"))
                </td>
                <td>
                    @Html.ActionLink("efetuarPgto",
                                     "efetuarPgto",
                                     new { debitoId = @debito.DebitoId },
                                     new { @class = "linkEfetuarPgto" })
                </td>
            </tr>
        }
    </tbody>
</table>
