@using MvcBiblioteca
@model MvcBiblioteca.Models.UsuarioViewModel

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novo Usuário</h2>

<div>
    @Html.ValidationSummary()
    @{Html.EnableClientValidation();}
    @{Html.EnableUnobtrusiveJavaScript();}
    @using (Html.BeginForm("novo", "usuarios", FormMethod.Post))
    {     
          
        @Html.HiddenFor(x => x.UsuarioId, new { data_val = "false" })        
               <div>            
            @Html.LabelFor(x => x.Cpf)
            @Html.TextBoxFor(x => x.Cpf)
            @Html.ValidationMessageFor(x => x.Cpf)
        </div>
        <div>
            @Html.LabelFor(x => x.Nome)
            @Html.TextBoxFor(x => x.Nome)
        </div>
        <div>
            @Html.LabelFor(x => x.Login)
            @Html.TextBoxFor(x => x.Login)
        </div>
        <div>
            @Html.LabelFor(x => x.Senha)
            @Html.PasswordFor(x => x.Senha)
        </div>
        
        <div>
            @Html.LabelFor(x => x.Status)
            @Html.CheckBoxFor(x => x.Status)
        </div>
        <div>
            @Html.LabelFor(x => x.TipoUsuario)
            @Html.DropDownListFor(usu => usu.TipoUsuario,
                    mostrar => mostrar.ApresentacaoParaFormulario)

        </div>
        
        <button type="submit">Gravar</button>
    }
</div>

