@model MvcBiblioteca.Models.DevolucaoViewModel

@{
    ViewBag.Title = "#2 - Devolução";
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/biblioteca.js")"></script>
}

<h2>Devolução</h2>
<br />
<br />

@using (Html.BeginForm("devolver", "devolucao"))
{
    
    <div>
        @Html.Label("Usuario")
        @Html.DropDownList("Usuario", new SelectList(Model.ObterUsuariosComEmprestimo(), "UsuarioId", "Nome"), new { @class = "Usuario" })
    </div>
    
    <div>
        @Html.Label("Livro")
        <select id="selectLivro" name="selectLivro" disabled="disabled"></select>
        @Html.HiddenFor(x=>x.idEmprestimo)
    </div>
    
    <br />

    <input type="submit" value="Devolver" />
}

